<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quickstart</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav>
        <a href="{{url_for('home')}}" class="nav">Home</a>
        <a href="{{url_for('all_books')}}" class="nav">See Our Books</a>
        <a href="{{url_for('addbook')}}" class="nav">Add a Book</a>
        <a href="{{url_for('seedDB')}}" class="nav">Seed Data Base</a>
        <a href="{{url_for('eraseDB')}}" class="nav">Erase Data Base</a>
        <a href="{{url_for('contact_page')}}" class="nav">Contact Us</a>
        
    </nav>
    {% block body_content %}
    {% endblock %} 
</body>
</html>

